################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################
*.suo
*.user
/Source/.vs
/Source/packages
/Source/QuickLearn.SampleApi/bin
/Source/QuickLearn.SampleApi/obj
/Source/QuickLearn.SampleApi/Properties/PublishProfiles
/Source/TestResults
/Source/TRex.Metadata/bin
/Source/TRex.Metadata/obj
/Source/TRex.Metadata.Attributes/bin
/Source/TRex.Metadata.Attributes/obj
/Source/TRex.Metadata.Tests/bin
/Source/TRex.Metadata.Tests/obj
/Source/TRex.Test.DummyApi/bin
/Source/TRex.Test.DummyApi/obj
/Source/TRex.Test.Infrastructure/bin
/Source/TRex.Test.Infrastructure/obj
/Source/TRex.TestApiApp/bin
/Source/TRex.TestApiApp/obj
/Source/TRex.TestHelpers/bin
/Source/TRex.TestHelpers/obj